<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="CalculationAccuracy" value="3" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="DecisionSupportSystemDataBaseModelContainer" 
         connectionString="metadata=res://*/DataAccessLayer.DataCreationModel.DecisionSupportSystemDataBaseModel.csdl|res://*/DataAccessLayer.DataCreationModel.DecisionSupportSystemDataBaseModel.ssdl|res://*/DataAccessLayer.DataCreationModel.DecisionSupportSystemDataBaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=DSSDBv1.0;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
         providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>